.ui-menu-item span { display: block; float: right; }
.ui-menu-item { padding-bottom: 4px; }
.ui-menu-item b { font-weight: normal; }
.ui-menu-item div { color: #A0A0A0; }

.group-item-block { margin: 2px 2px 2px 5px; }
.group-item-block .group-item-selected { margin-right: 38px; padding: 3px 5px; background-color: #ededed; }
.group-selected .selected-remove { float: right; font-size: 20px; color: #A0A0A0; padding: 0 5px; }
