.ui-menu .ui-menu-item a span {
    display: block; float: right; clear: right; font-size: 24px; margin-top: -2px; margin-left: 4px;
    width: 20px; height: 20px; background-image: url(ui-switch_plus.gif); color: transparent;
}
.ui-menu .ui-menu-item a { padding-bottom: 4px; line-height: 1.0; clear: right; }
.ui-menu .ui-menu-item a b { font-weight: normal; }
.ui-menu .ui-menu-item a div {
    color: #303030;
    font-size: 80%;
    line-height: 1;
}

.group-item-block { margin: 2px 2px 2px 5px; }
.group-item-block .group-item-selected { margin-right: 38px; padding: 3px 5px; background-color: #ededed; }
.group-selected .selected-remove { float: right; clear: right; font-size: 20px; color: #A0A0A0; padding: 0 5px; cursor: pointer;}

.ui-autocomplete-loading { background: white url('ui-anim_basic_16x16.gif') right center no-repeat !important; }

.ui-menu .ui-menu-item {
    display: block;
    float: none;
}

.ui-menu .kind {
    color: #2E5693;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 80%;
    margin: 0.1em;
    padding-top: 0.1em;
    border-top: dotted 1px;
    list-style: none;
}
.ui-menu .kind:first-child {
    margin-top: 0;
    border-top: none;
    padding-top: 0;
}

.autocompletegroup-descr {
	display: none;
}
.ui-menu-item:hover .autocompletegroup-descr {
	display: block;
	position: absolute;
	margin-top: 3px;
    margin-left: 3em;
	padding: 1ex;
	border: 1px solid black;
	background-color: #F0F0F0;
    color: #303030;
}
li.autocompletegroup-more {
	text-align: center;
}
li.autocompletegroup-more > a {
    color: blue;
}

.autocomplete-group-messages {
    color: red;
}
