.hidden {
	display: none;
}
.toggled {
	font-weight: bold;
	color: red;
}

.curser-point {
	cursor: pointer;
}

.component-tree {
	border: 1px solid #dad9c7;
	width: 40%;
}

.detail-tree {
	float: right;
	width: 60%;
	text-align: left;
}

div#liste-selected {
	float: right;
	width: 60%;
	text-align: left;
}

.pointer {
	cursor: pointer;
}

li.list-none {
	list-style-type: none;
}

li.list-item {
	padding-bottom: 4px;
	line-height: 1.0;
	font-weight: 16px;
	margin-top: 2px;
	font-family: "Verdana", "Arial", sans-serif;
}

li.list-item span.oplus {
	font-size: 24px;
	margin: -6px 2px 0 2px;
}

li.list-item span.nbenfant {
	margin: 0 2px 0 2px;
}

ul.item {
	margin-top: 0;
	margin-bottom: 0;
}

div.by-widget {
	float: left; width: 45%; padding: 3px; margin: 2px;
}
div.block-item-selected {
	float: left; width: 45%; height: 60ex; border: 2px solid black; padding: 3px; margin: 2px;
}

.block-item-selected .item-selected {
	 margin: 2px 2px 2px 5px;
	 border: 1px solid #dad9c7;
}

.item-selected .intitule-selected {
	margin-right: 38px; padding: 3px 5px; background-color: #ededed;
}

.item-selected .selected-remove {
	cursor: pointer;
	float: right; font-size: 20px; color: #A0A0A0; padding: 0 5px;
}

div.select-elem {
	margin-top: 2px;
}
