.hidden {
	display: none;
}
.toggled {
	font-weight: bold;
	color: red;
}

.curser-point {
	cursor: pointer;
}

.component-tree {
	border: 1px solid #dad9c7;
	width: 40%;
}

.detail-tree {
	float: right;
	width: 60%;
	text-align: left;
}

div#liste-selected {
	float: right;
	width: 60%;
	text-align: left;
}

.pointer {
	cursor: pointer;
}

li.list-none {
	list-style-type: none;
}

li.list-item div.elem-li {
    padding-top: 4px;
    padding-bottom: 4px;
    display: block;
    float: none;
}

li.list-item div.elem-li:hover {
    background: #DADADA;
    /**border: 1px solid #999999;**/
}

li.list-item, div.dip-sel {
	/*padding-bottom: 4px;*/
	line-height: 1.0;
	font-weight: 16px;
	margin-top: 2px;
	font-family: "Verdana", "Arial", sans-serif;
}

div.dip-sel {
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 1px;
}

div.dip-sel:hover {
    background: #DADADA;
}

li.list-item span.oplus, div.dip-sel span.oplus {
	font-size: 24px;
    margin-top: -2px; margin-left: 4px;
    width: 20px; height: 20px; background-image: url(pix/switch_plus.gif); color: transparent;
    background-repeat: no-repeat;
    background-position: bottom;
    display: block; float: right; clear: right;
}

/**
li.list-item span.oplus, div.dip-sel span.oplus {
	font-size: 24px;
     margin-top: -2px;
     margin-left: 4px;
     width: 20px; height: 20px;
}

li.list-item span.oplus img, div.dip-sel span.oplus img {
    margin-bottom: -6px;
}
**/

li.list-item span.collapsed {
    background-image: url(pix/collapsed.png); color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 10%;
}

li.list-item span.expanded, div.dip-sel span.expanded {
    background-image: url(pix/expanded.png); color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 10%;
    margin-right: 5px;
}

ul.item {
	margin-top: 0;
	margin-bottom: 0;
}

div.by-widget {
	float: left; width: 45%; padding: 3px; margin: 2px;
    border: 2px solid black;
    min-height: 60ex;
}
div.block-item-selected {
	float: left; width: 45%; min-height: 60ex; border: 2px solid black; padding: 3px; margin: 2px;
}

.block-item-selected .item-selected {
	 margin: 2px 2px 2px 5px;
	 border: 1px solid #dad9c7;
}

.item-selected .intitule-selected {
	margin-right: 38px; padding: 3px 5px; background-color: #ededed;
}

.item-selected .selected-remove {
	cursor: pointer;
	float: right; font-size: 20px; color: #A0A0A0; padding: 0 5px;
}

div.select-elem {
	margin-top: 2px;
}

div.item-select > div:first-child {
    margin-bottom: 6px;
}
